<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}}, Welcome on our platform! In order to start using our platform, and normally get fucked in the ace, you need to activate the account using the link below!

        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                You need submit your email, please click on button
            </p>
            <a href="https://{{frontUrl}}/activate/?token={{actionToken}}">Submit</a>
        </td>
    </tr>
</table>